<header>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <div class="container-fluid">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="../index.php">
                <img class="mx-2 my-1" src="../assets/logo-no-text.png" alt="bookstore logo" style="width: 5%; height: auto;" >
                Bookstore Management System
            </a>
            <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link text-nowrap mx-1" href="https://github.com/Soljira/Bookstore-System">
                        <!-- icon from bootstrap-icons -->
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a class="nav-link text-nowrap" href="../actions/logout.php">
                        <i class="bi bi-box-arrow-right"></i>                   
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>    
</header>
