<!-- include this below <div class="container-fluid">   and    <div class="row"> -->
<!-- ex. -->
<!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
        <!-- <php include("../partials/sidebar-navigation.html"); ?>  -->
    <!-- ... -->
     
<nav class="col-md-2 d-none d-md-block bg-light sidebar position-sticky" style="top: 56px; height: calc(100vh - 56px); overflow-y: auto;">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link fs-6" href="../index.php">
                    <i data-feather="home" class="me-2 fs-4"></i>
                    <!-- <span><img src="../assets/icons/home.svg" class="me-2"></img></span> -->
                    Dashboard 
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6" href="../navigation/books.php">
                    <i data-feather="book" class="me-2"></i>
                    <!-- <span><img src="../assets/icons/book.svg" class="me-2"></img></span> -->
                    Books
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6" href="../navigation/authors.php">
                    <i data-feather="edit-2" class="me-2"></i>
                    <!-- <span><img src="../assets/icons/edit-2.svg" class="me-2"></img></span> -->
                    Authors
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6" href="../navigation/publishers.php">
                    <i data-feather="package" class="me-2"></i>
                    <!-- <span><img src="../assets/icons/package.svg" class="me-2"></img></span> -->
                    Publishers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6" href="../navigation/orders.php">
                    <i data-feather="shopping-cart" class="me-2"></i>
                    <!-- <span><img src="../assets/icons/shopping-cart.svg" class="me-2"></img></span> -->
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6" href="../navigation/users.php">
                    <i data-feather="users" class="me-2"></i>
                    <!-- <span><img src="../assets/icons/users  .svg" class="me-2"></img></span> -->
                    Users
                </a>
            </li>
        </ul>
    </div>
</nav>